﻿#slider img {
    width: 100%;
}

h1 {
    width: 100%;
    font-size: 23pt;
    font-weight: 500;
    color: #737070;
    text-align: center;
    overflow-y: hidden;
}

h1 span {
    font-size: 28pt;
    font-weight: 600;
    color: #a10be7;
}

.item-ca {
    background-color: #a10be7;
    text-align: center;
    font-size: 16pt;
    font-weight: 500;
    color: #fff;
    margin: 2px;
}

.item-ca img {
    width: 100%;
}

.item-ca p {
    padding: 0;
    margin: 0;
}

.slick-prev {
    left: 100px;
}

.slick-next {
    right: 100px;
}

#manualidades > .col-md-6, #trajes > .col-md-6{
    height: 240px;
}

#manual-text .text #trajes-text .text{
    width: 6%;
}

#manual-text .title, #trajes-text .title{
    font-size: 28pt;
    font-weight: 500;
    margin-bottom: 20px;
}

#manual-text{
    text-align: right;
    background-color: #09d4de;
    padding: 40px;
    color: #fff;
}

#trajes-text{
    text-align: left;
    background-color: #ff00de;
    padding: 40px;
    color: #fff;
}

#manual-text i{
    position: absolute;
    font-size: 50pt;
    top: 35px;
    left: 99%;
    color: #09d4de;
}

#trajes-text i{
    position: absolute;
    font-size: 50pt;
    top: 35px;
    right: 99%;
    color: #ff00de;
}

.img-div{
    padding: 0;
    margin: 0;
    width: 32%;
    height: 100%;
    display: inline-block;
}

#manual-imgs{
    border-top: 1px solid #ccc;
}

#trajes-imgs{
    border-bottom: 1px solid #ccc;
}

#manual-imgs, #trajes-imgs{
    padding: 20px;
}

#manual-imgs center, #trajes-imgs center{
    height: 100%;
}

#manual-imgs center img, #trajes-imgs center img{
    height: 100%;
}


/*
#manualidades, #trajes{
    width: 100%;
    padding: 0;
    margin: 0;
}

#manual-text, #manual-imgs, #trajes-imgs, #trajes-text {
    width:50%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#manual-text{
    background-color: #09d4de;
    padding: 20px;
    text-align: right;
    float: left;
    height: 200px;
}

#trajes-text{
    background-color: #ff00de;
    padding: 20px;
    text-align: left;
    float: right;
    height: 200px;
}

#manual-imgs{
    float: right;
}

#trajes-imgs{
    float: left;
}

#manual-imgs img, #trajes-imgs img{
    height: 200px;
}

*/

h2 {
    width: 100%;
    font-size: 23pt;
    font-weight: 500;
    color: #737070;
    text-align: center;
    margin-top: 50px;
}

h2 span {
    font-size: 28pt;
    font-weight: 600;
    color: #ee7724;
}

.carrusel-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0;
}

.carrusel-2 > div {
    padding: 1px;
}

.carrusel-2 img {
    width: 100%;
    margin: 0 auto;
}

#mapa #title p {
    width: 100%;
    font-size: 28pt;
    font-weight: 500;
    color: #000;
    text-align: center;
    overflow-y: hidden;
}

#mapa #title span {
    font-size: 28pt;
    font-weight: 600;
    color: #09d4de;
}

#mapa #title #span2 {
    font-size: 23pt;
    font-weight: 400;
    color: #222;
}

#thumbs{
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 40px;
    margin-right: 0;
}

.thumb{
    padding: 0 30px;
    color:#747474;
}
.thumb i{
    font-size: 60pt;
    margin-bottom: 20px;
}

.thumb .title{
    font-size: 19pt;
}

#thumb-fabr i{
    color: #ee7725;
}

#thumb-dist i{
    color: #0ad4de;
}

#thumb-cyt i{
    color: #a10be8;
}

@media (max-width: 768px) {

    #manual-text, #trajes-text{
        padding: 25px;
        text-align: justify;
    }

    #manual-text .title, #trajes-text .title{
        margin: 5px;
    }

    #manual-imgs, #trajes-imgs{
        height: 150px !important;
    }
}

@media (max-width: 768px){
    .thumb {
        padding: 0 30px;
        font-size: 11pt;
    }
}