﻿#banner img{
    width: 100%;
    margin-bottom: 30px;
}

#main{
    margin-bottom: 40px;
}

#main #title{
    font-size: 27pt;
    font-weight: 600;
    color: #ff00de;
}

#main #text{
    font-size: 14pt;
    font-weight: 400;
    color: #747474;
    line-height: 20px;
}

#main #main-img{
    width: 100%;
}

#galeria{
    margin-bottom: 60px;
}

#galeria .col-xs-6 {
    margin-bottom: 20px;
}

#galeria-title p{
    width: 100%;
    background-color: #ff00de;
    color: #fff;
    padding: 0 15px;
    font-size: 20pt;
    font-weight: 500;
    margin-bottom: 20px;
}

.img-galeria{
    border: 1px solid #f4f4f4;
    padding: 20px;
}

.img-galeria img{
    width: 100%;
}

.img-title{
    color: #747474;
    margin: 15px 0;
}

.img-button{
    width: 100%;
    background-color: #ff00de;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}
.img-button:hover{
    opacity: 0.8;
}

.img-button p{
    margin: 0;
    text-decoration: none;
}

@media (max-width: 991px){

    .img-galeria{
        padding: 0;
    }

    .img-title{
        font-size: 11pt;
    }

    .img-button{
        padding: 5px;
        width: 100%;
    }

    .img-button p{
        font-size: 11pt;
    }
}