﻿html, body, h1 {
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12pt;
    overflow-x: hidden;
}

.alpha{
    opacity: 0;
}

@media (max-width: 1024px){
    .alpha{
        opacity: 1;
    }
}

hr{
    width: 100%;
    border: 1px solid #ccc;
}

header {
    margin-top: 40px;
    margin-bottom: 10px;
}

    header #logo img {
        width: 100%;
    }

    header #head-phone {
        margin-bottom: 20px;
    }

        header #head-phone p {
            padding: 0;
            margin: 0;
            font-size: 14pt;
            font-weight: 500;
        }

    header #head-social{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    header #head-social i{
        font-size: 15pt;
        color: #fff;
        text-align: center;
    }

    header #head-social .circle{
    display: inline-block;
    background-color: #4d4d4d;
    height: 30px;
    width: 30px;
    padding: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

    header #head-menu .dropdownmenu{
        display: none;
    }

    header #head-menu ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 35px;
        float: right;
        text-align: center;
    }

        header #head-menu ul li {
            display: inline-block;
            font-size: 17pt;
            font-weight: 500;
            padding: 5px 6px;
            margin-left: 1px;
            -moz-border-radius: 1px;
            -webkit-border-radius: 1px;
            border-radius: 2px;
            cursor: pointer;
            text-align: left;
        }

            header #head-menu ul li a {
                color: #fff;
                text-decoration: none;
            }

#head-menu-1 {
    background-color: #fd323c;
}

#head-menu-2 {
    background-color: #09d4de;
}

#head-menu-3 {
    background-color: #17ce65;
}

#head-menu-4 {
    background-color: #a10be7;
}

#head-menu-5 {
    background-color: #ee7724;
}

#head-menu-6 {
    background-color: #0096ff;
}

#head-menu-7 {
    background-color: #ff00de;
}

footer {
    color: #fff;
    clear: both;
}

#footer-sections {
    background-color: #4d4d4d;
    padding-top: 10px;
}

    #footer-sections p {
        margin-bottom: 25px;
    }

    #footer-section-4 p {
        margin-bottom: 0;
    }

    #footer-sections ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        #footer-sections ul li {
            margin-bottom: 8px;
        }

            #footer-sections ul li a {
                color: #fff;
                text-decoration: none;
            }

#footer-section-4 .col-xs-12{
    margin-bottom: 15px;
}

#footer-section-4 i{
    font-size: 15pt;
    color: #4d4d4d;
    text-align: center;
}

#footer-section-4 .circle{
    display: inline-block;
    background-color: #fff;
    height: 30px;
    width: 30px;
    padding: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.footer-title{
    cursor: pointer;
}

#footer-bottom {
    background-color: #222;
}

    #footer-bottom p {
        margin: 0;
        padding: 0;
        margin-top: 10px;
        font-size: 11pt;
    }

    #footer-bottom #footer-privacy {
        float: left;
    }

    #footer-bottom #footer-company-name {
        float: right;
    }

    #footer-bottom #footer-company-name a {
        color: #fd323c;
    }

@media (max-width: 1199px) {

    header {
        margin: 0;
    }

    header #head-phone p{
        text-align: center;
    }

    header #head-menu{
        padding: 0;
    }

    header #head-menu ul li {
        width: 100%;
        padding: 0 10px;
        margin: 0;
    }
    #head-menu-1, #head-menu-2, #head-menu-3, #head-menu-4, #head-menu-5, #head-menu-6, #head-menu-7{
        background-color: #fff;
        border-bottom: solid 1px #eee;
        color: #000;
    }

    header #head-menu ul li a {
        color: #000;
    }
}

@media (max-width: 991px) {
    header #logo img{
        width: 25%;
        margin-top: 20px;
        text-align: center;
    }

    #footer-section-1, #footer-section-2, #footer-section-3{
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {

    #footer-bottom #footer-privacy{
        float: none;
    }

    #footer-bottom p {
        text-align: center;
        clear: both;
    }

    .footer-title + *{
        display: none;
    }
}

@media (max-width: 1199px) {
    header #head-menu .dropdownmenu{
        display: block;
        width: 100%;
        margin: 0 auto;
        font-size: 14pt;
        margin-top: 60px;
        background-color: #fff;
        cursor: pointer;
        padding: 5px 50px;
        clear: both;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    header #head-menu .dropdownmenu i{
        text-align: right;
        float: right;
        margin-top: 5px;
    }

    header #head-menu ul{
        display: none;
        border: 1px solid #eee;
        border-radius: 5px;
        margin: 0;
    }
}

@media (max-width: 991px) {
    header #head-phone {
        margin-top: 20px;
    }

    header #head-social {
        margin-top: 20px;
    }

    header #head-menu .dropdownmenu {
        margin: 0;
    }
}