﻿#banner img{
    width: 100%;
    margin-bottom: 30px;
}

#main{
    margin-bottom: 40px;
}

#main #title{
    font-size: 27pt;
    font-weight: 600;
    color: #fd323c;
}

#main #text{
    font-size: 14pt;
    font-weight: 400;
    color: #747474;
    line-height: 20px;
}

#main #main-img{
    width: 100%;
}

#galeria{
    margin-bottom: 60px;
}

#galeria-title p{
    width: 100%;
    background-color: #fd323c;
    color: #fff;
    padding: 0 15px;
    font-size: 20pt;
    font-weight: 500;
}

#galeria .row{
    margin-bottom: 40px;
}

#img1{
    background-image: url(../Images/Trajes/Galeria/01.jpg);
    background-size: cover;
}

#img2{
    background-image: url(../Images/Trajes/Galeria/02.jpg);
    background-size: cover;
}

#img3{
    background-image: url(../Images/Trajes/Galeria/03.jpg);
    background-size: cover;
}

#img4{
    background-image: url(../Images/Trajes/Galeria/04.jpg);
    background-size: cover;
}

#img5{
    background-image: url(../Images/Trajes/Galeria/05.jpg);
    background-size: cover;
}

#img6{
    background-image: url(../Images/Trajes/Galeria/06.jpg);
    background-size: cover;
}

#img7{
    background-image: url(../Images/Trajes/Galeria/07.jpg);
    background-size: cover;
}

#img8{
    background-image: url(../Images/Trajes/Galeria/08.jpg);
    background-size: cover;
}

#img9{
    background-image: url(../Images/Trajes/Galeria/09.jpg);
    background-size: cover;
}

.img-div{
    height: 400px;
    padding: 10px;
    margin-bottom: 40px;
}

.img-detalle, .img-info{    
    display: inline-block;
    padding: 5px;
    margin: 0 auto;
    color: #fff;
    background-color: rgba(0,0,0,0.66);
    margin-top: 350px;
    cursor: pointer;
}
    .img-detalle:hover, .img-info:hover {
        background-color: rgba(0,0,0,0.9);
    }

.img-detalle{
    float: left;
}

.img-info{
    float: right;
}

@media (min-width: 480px) and (max-width: 768px) {
    .img-div{
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 768px){

    #galeria .row{
        margin-bottom: 0;
    }

    .img-div{
        margin-top: 40px;
        height: 300px;
    }

    .img-detalle, .img-info{
       margin-top: 250px;
    }

}

@media (max-width: 648px){
    .img-detalle{
        margin-top: 210px;
        float: none;
    }

    .img-info{
        margin-top: 10px;
        float: none;
    }
}

@media (max-width: 480px) {
     #galeria .row .col-xs-6{
         width: 100%;
         height: 320px;
     }

     .img-detalle{
        margin-top: 250px;
        float: none;
    }

    .img-info{
        margin-top: 10px;
        float: none;
    }
}

/*div.row*3>div.col-xs-4*3>div.img-div#img$>(div.img-detalle>span{Ver Detalle}+i.fa.fa-search)+(div.img-info>span{Descargar Información})*/

